<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static '/blogapp/styles.css' %}">
    <title>Login Page</title>
</head>
<body>
   <div class="wrapper">
       <nav class="nav-bar">
           <div class="logo">
               <h1> THOUGHTS</h1>
           </div>
           <div class="nav-menu">
               <ul class="nav-menu-list">
                   <li><a href="#">Sign in</a></li>
                   <li><a href="#">Sign out</a></li>
                   <li><a href="#" class="sign-up">Sign up</a></li>
               </ul>
           </div>
       </nav>

       <aside class="side-nav">
           <div class="nav-ul">
               <ul class="side-bar-ul">
                   <li><a href="/">Home</a></li>
                   <li><a href="{% url 'profile'%}">Profile</a></li>
                   <li><a href="#">Notifications</a></li>
                   <li><a href="#">Messages</a></li>
               </ul>
           </div>
       </aside>

       <main class="main-content">
            <div>
                <div class="message">
                    {% if messages %}
                      {% for message in messages %}
                        {{message}}
                      {% endfor %}
                    {% endif %}
                </div>
           
               <form method="POST" >
                {% csrf_token %}
                   <div><h4>Log in</h4></div>
                {{form|crispy}}
                <button type="submit">Sign In</button>
               </form>
               <small>Need an account? <a href="{% url 'account'%}"> Sign up</a></small>
            </div>
       </main>

       <section class="side-content">
           <div class="thought-img">
               <img src= " {% static '/blogapp/lightning-thought.jpg' %} ">
           </div>
           
       </section>

   </div>

</body>
</html>