* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: white;
}


/*HEADER STYLING*/

.header-cls {
    display: flex;
    background: #212121;
    color: white;
    height: 80px;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
}

.logo-cls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.img-logo-cls {
    align-items: center;
    box-shadow: 0 0 4px 4px #5a5c5a inset;
}

.header-cls ul {
    list-style: none;
    display: flex;
}

.header-cls a {
    text-decoration: none;
    color: white;
    padding: 4px 6px;
    margin: 10px;
    border: #5a5c5a 1px solid;
    border-radius: 5px;
}

.header-cls a:hover {
    color: rgb(182, 179, 179);
    border: rgb(182, 179, 179) 1px solid;
    border-radius: 5px;
}


/* MAIN CONTAINER STYLE*/

.main-container {
    display: flex;
    background: white;
}

.left-section {
    background: white;
    width: 25%;
    height: 100vh;
}

.center-section {
    background: #fff;
    width: 50%;
    height: 100vh;
    padding: 200px;
}

.right-section {
    background: white;
    width: 25%;
    height: 100vh;
}

.logout-cls {
    border: #212121 1px solid;
    padding: 10px;
    border: #5a5c5a 1px solid;
}

.logout-cls a {
    color: white;
}


/*CENTER SECTION STYLE*/

.login-content {
    background: #fff;
    margin-top: 15px;
    border: #5a5c5a 1px solid;
}

.form-content {
    margin: auto;
    padding: 25px;
    display: inline-block;
}

.login-content .btn {
    background: #212121;
    color: #fff;
    margin-top: 5px;
    padding: 3px 60px;
    border: rgb(3, 3, 163);
}

.register-info a {
    color: rgb(5, 5, 170);
}

.register-btn {
    background: #212121;
    color: #fff;
    margin-top: 4px;
    padding: 5px 30px;
    border: none;
}