* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #424242;
}


/*LAYOUT*/

.wrapper {
    display: grid;
    background: #28282B;
    color: white;
    font-family: sans-serif;
    grid-template-columns: 1fr 2fr 1fr;
    /*grid-template-rows: 100vh;*/
    grid-template-areas: "navbar navbar navbar" "sidenav main aside";
}

.nav-bar {
    height: 60px;
}

nav {
    grid-area: navbar;
}

aside {
    grid-area: sidenav;
}

main {
    grid-area: main;
}

section {
    grid-area: aside;
}

.nav-bar {
    display: flex;
    background: #212121;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}


/*components*/

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 4px 6px;
    border: #5a5c5a 1px solid;
    border-radius: 5px;
}

.nav-menu a:hover {
    color: rgb(247, 247, 252);
    background: #5a5c5a;
    border: rgb(182, 179, 179) 1px solid;
    border-radius: 5px;
}

.nav-menu li {
    text-decoration: none;
    color: white;
    padding: 4px 6px;
    margin: 5px;
}

.nav-menu-list {
    list-style: none;
    display: flex;
}

.sign-up {
    background: #0767e4;
}

.sign-up :hover {
    border: white;
}

.side-nav {
    background: #212121;
    padding-top: 50px;
    margin: 15px;
}

.side-bar-ul {
    list-style: none;
    padding: 0;
}

.side-bar-ul li {
    margin-bottom: 20px;
    list-style: none;
}

.side-bar-ul a {
    text-decoration: none;
    color: white;
    padding: 6px 10px;
    border: #5a5c5a 1px solid;
    display: flex;
    border-radius: 25px;
}

.side-bar-ul a:hover {
    background: #28282B;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

.nav-ul {
    margin: 0px 60px
}

.main-content {
    background: #28282B;
}

.post-card {
    display: flex;
    background: #424242;
    padding: 20px;
    font-size: 13px;
    gap: 8px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.post-card img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.user-name {
    text-decoration: none;
    color: #aaaaaf;
}

.side-content {
    background: #28282B;
}

.thought-img {
    background: #28282B;
    margin: 15px;
}

.thought-img img {
    height: 300px;
    width: 300px;
}