<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static '/blogapp/styles.css' %}">
    <title>Base</title>
</head>
<body>
   <div class="wrapper">
       <nav class="nav-bar">
           <div class="logo">
               <h1> THOUGHTS</h1>
           </div>
           <div class="nav-menu">
               <ul class="nav-menu-list">
                   <li><a href="{% url 'logout' %}">Sign out</a></li> 
               </ul>
           </div>
       </nav>

       <aside class="side-nav">
           <div class="nav-ul">
               <ul class="side-bar-ul">
                   <li><a href="{% url 'blog-home' %}">Home</a></li>
                   <li><a href="{% url 'profile' %}">Profile</a></li>
                   <li><a href="#">Notifications</a></li>
                   <li><a href="#">Messages</a></li>
               </ul>
           </div>
       </aside>

       <main class="main-content">
           {% block content  %}
           {% endblock  %}
       </main>

       <section class="side-content">
           <div class="thought-img">
               <img src= " {% static '/blogapp/lightning-thought.jpg' %} ">
           </div>
           
       </section>

   </div>

</body>
</html>