{% extends 'blogapp/base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="post-card">
            <img src="{{ post.author.profile.image.url }}">
            <div>
                <h3>{{post.title}}</h3>
                <p><small><a href="{% url 'user-post' %}" class="user-name">{{post.author}}</a> - {{post.date_posted}}</small></p>
                <p>{{post.content}}</p>
            </div>
        </div>
    {% endfor %}

{% endblock  %}

</body>
</html>